@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --light-black-color: #101010;
  --grey-color: #f1f1f1;
  --light-grey-color: #fafafa;
  --orange-color: #d87d4a;
  --light-orange-color: #fbaf85;
}

body {
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 1.29px;
  text-transform: uppercase;
}

.body {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
}

.overline {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.btn {
  font-weight: 700;
  font-size: 13px;
  line-height: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  height: 48px;
  background: var(--orange-color);
  color: var(--white-color);
  border: 0;
}

.bar-container {
  position: relative;
  width: 16px;
  height: 14px;
  transition: all 0.4s ease;

  &:hover {
    .bar2 {
      width: 16px;
    }
  }
}

.bar {
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2 {
  top: 6px;
}

.bar3 {
  top: 12px;
}

.bar-close {
  .bar1 {
    animation: bar1-close 0.2s linear;
    transform: skewY(40deg);
    top: 6px;
  }

  .bar2 {
    animation: bar2-close 0.2s linear;
    opacity: 0;
  }

  .bar3 {
    animation: bar3-close 0.2s linear;
    transform: skewY(-40deg);
    top: 6px;
  }
}

.bar-line {
  .bar1 {
    animation: bar1-line 0.2s linear;
    transform: skewY(0deg);
    top: 0;
  }

  .bar2 {
    animation: bar2-line 0.2s linear;
    opacity: 1;
  }

  .bar3 {
    animation: bar3-line 0.2s linear;
    transform: skewY(0deg);
    top: 12px;
  }
}

.bar {
  width: 16px;
  height: 1px;
  background: rgb(255, 255, 255);
}

.bar2 {
  width: 12px;
  transition: width 0.2s ease;
}

@keyframes bar1-close {
  0% {
    top: 0px;
    transform: skewY(0);
  }
  100% {
    top: 6px;
    transform: skewY(40deg);
  }
}

@keyframes bar2-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bar3-close {
  0% {
    top: 12px;
    transform: skewY(0);
  }
  100% {
    top: 6px;
    transform: skewY(-40deg);
  }
}

@keyframes bar1-line {
  0% {
    top: 6px;
    transform: skewY(40deg);
  }
  100% {
    top: 0px;
    transform: skewY(0);
  }
}

@keyframes bar2-line {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bar3-line {
  0% {
    top: 6px;
    transform: skewY(-40deg);
  }
  100% {
    top: 12px;
    transform: skewY(0);
  }
}
